#!/bin/sh -e

. /usr/share/debconf/confmodule

db_set approx/port 9999
numeric=no
while [ $numeric = no ]; do
    db_input medium approx/port || true
    db_go || true
    db_get approx/port
    if echo "$RET" | grep -q '^[0-9][0-9]*$'; then
        numeric=yes
    else
        db_input medium approx/numeric_port || true
        db_go || true
    fi
done
