Source: approx
Section: admin
Priority: optional
Maintainer: Eric Cooper <ecc@cmu.edu>
Uploaders: Sven Luther <luther@debian.org>, Stefano Zacchiroli <zack@debian.org>
Build-Depends: debhelper, ocaml-nox-3.08.3, ocaml-tools, libsyslog-ocaml-dev (>= 1.0-3), libhttp-ocaml-dev (>= 0.1.0-3), libocamlnet-ocaml-dev (>= 1.0), libpcre-ocaml-dev, libcurl-ocaml-dev
Standards-Version: 3.6.1

Package: approx
Architecture: any
Depends: ${shlibs:Depends}
Description: proxy server for Debian archive files
 Approx is an alternative to apt-proxy or apt-cacher.
 It is written in OCaml so it is fast and robust.
