Source: approx
Section: admin
Priority: optional
Maintainer: Eric Cooper <ecc@cmu.edu>
Uploaders: Sylvain Le Gall <gildor@debian.org>, Ralf Treinen <treinen@debian.org>
XS-Dm-Upload-Allowed: yes
Build-Depends: debhelper (>= 5.0), cdbs, ocamlmakefile, ocaml-nox (>= 3.10), ocaml-best-compilers, libnethttpd-ocaml-dev (>= 2.2.8), libpcre-ocaml-dev (>= 5.11), libsha-ocaml-dev (>= 1.3), libsyslog-ocaml-dev (>= 1.3)
Standards-Version: 3.7.2
Homepage: http://svn.debian.org/wsvn/pkg-ocaml-maint/trunk/projects/approx
XS-Vcs-Svn: svn://svn.debian.org/svn/pkg-ocaml-maint/trunk/projects/approx

Package: approx
Architecture: any
Depends: ${shlibs:Depends}, ${F:OCamlRun}, lsb-base (>= 3.1), adduser, bzip2, curl
Description: caching proxy server for Debian archive files
 Approx is an HTTP-based Debian archive server.
 It fetches packages from remote repositories on demand,
 and caches them for local use.
 .
 Approx saves time and network bandwidth if you need to install or
 upgrade Debian software for a number of machines on a local network.
 Each package is downloaded from a remote site only once,
 regardless of how many local clients install it.
 The approx cache typically requires a few gigabytes of disk space.
 .
 Approx also simplifies the administration of client machines:
 repository locations need only be changed in approx's configuration file,
 not in every client's /etc/apt/sources.list file.
 .
 Approx can be used as a replacement for apt-proxy,
 with no need to modify clients' /etc/apt/sources.list files,
 or as an alternative to apt-cacher.
 .
 Approx is intended to be robust, simple, and efficient.
 It is written in OCaml (Objective Caml).
