#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/ocaml.mk

ifeq ($(OCAML_HAVE_OCAMLOPT),no)
    DEB_MAKE_BUILD_TARGET = TARGET=byte
    DEB_DH_INSTALL_ARGS += _build/dllapprox.so $(OCAML_DLL_DIR)
    libs_with_stubs := ocamlnet pcre sha syslog
    comma := ,
    libdeps := $(patsubst %,lib%-ocaml$(comma),$(libs_with_stubs))
    DEB_DH_GENCONTROL_ARGS += -VF:OCamlDeps="ocaml-base-nox-$(OCAML_ABI), $(libdeps)"
endif

configure/approx::
	/usr/bin/perl debian/mkversion.pl > version.ml

clean::
	rm -f version.ml
